{% extends 'base.html' %}
{% load static %}
{% block title %}Forgot Password Done{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row my-3">
            <div class="col-sm-6 offset-sm-3">
                <h4 class = "alert-heading">Well Done !!</h4> 
                <p>An Email Has Been Sent to Your Email Address To Reset Your Password With All The Instructions . 
                    <br>Check Your Email <br>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}